body {
  background-color: lightsteelblue;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
}

.addItem-button  {
  padding: 5px 10px;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.removeItem-button {
  padding: 5px 10px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
}

.list {
  margin-top: 20px;
  width: 440px;
  list-style: none;
}

.list-item {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}